{% load static %}
<section id="about">
    <div class="about-container animate__animated animate__fadeIn">
        <h1 class="animate__animated animate__fadeInDown">Fullstack Developer</h1>
        <img src="{% static 'img/profile.jpg' %}" alt="Profile Picture" class="profile-picture animate__animated animate__zoomIn">
        <div class="about-info">
            <h2 id="animated-text" class="animate__animated">Hello, I'm Miotisoa RANDRIAMIHAJA</h2>
            <p class="animate__animated animate__fadeInLeft">
                I am a junior web developer. I specialize in building modern, efficient, and visually appealing web applications. 
                I am passionate about technology and love solving complex problems with code.
            </p>
            <p class="animate__animated animate__fadeInRight">My goal is to work on challenging projects that push the boundaries of my skills while contributing to impactful solutions.</p>
        </div>
    </div>
</section>