{% load static %}
<section id="certifications">
    <h2 class="certifications-title animate__animated animate__fadeInDown">Certifications</h2>
    <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <img src="{% static 'img/certificate/certificate-freecodecamp-javascript-algo-data-structure.png' %}" 
                     alt="JavaScript Algorithm and Data Structure" class="certification-image">
                <p class="certificate-description">JavaScript Algorithm and Data Structure</p>
            </div>
            <div class="slide">
                <img src="{% static 'img/certificate/certificate-freecodecamp-responsive-web-design.jpeg' %}" 
                     alt="Responsive Web Design Certification" class="certification-image">
                <p class="certificate-description">Responsive Web Design Certification</p>
            </div>
        </div>
    </div>
</section>