<section id="skills" class="animate__animated animate__fadeIn">
  <h1 class="text-4xl font-bold mb-8 text-center font-mono">
    &lt;MySkills&gt;
  </h1>

  <div class="mb-12">
    <h2 class="text-2xl font-semibold mb-6 font-mono">Languages = &#123;</h2>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-html5"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">HTML</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-css3-alt"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">CSS</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-js"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">JavaScript</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-python"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Python</span>
      </li>
    </ul>
    <h2 class="text-2xl font-semibold mt-6 font-mono">&#125;;</h2>
  </div>

  <div class="mb-12">
    <h2 class="text-2xl font-semibold mb-6 font-mono">Frameworks = &#123;</h2>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-react"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">React</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-bootstrap"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Bootstrap</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-python"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Django</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-python"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Flask</span>
      </li>
    </ul>
    <h2 class="text-2xl font-semibold mt-6 font-mono">&#125;;</h2>
  </div>

  <div class="mb-12">
    <h2 class="text-2xl font-semibold mb-6 font-mono">Tools = &#123;</h2>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-linux"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Linux</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-git-alt"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Git</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-github"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">GitHub</span>
      </li>
      <li class="bg-[var(--background)] p-4 rounded-lg shadow-lg backdrop-filter backdrop-blur-sm flex flex-col items-center border border-[var(--text)] transition-all duration-300 hover:shadow-xl hover:scale-105 hover:rotate-3">
        <div class="text-4xl text-[var(--primary)]">
          <i class="fab fa-docker"></i>
        </div>
        <span class="mt-2 font-mono text-[var(--text)]">Docker</span>
      </li>
    </ul>
    <h2 class="text-2xl font-semibold mt-6 font-mono">&#125;;</h2>
  </div>

  <h1 class="text-4xl font-bold mt-8 text-center font-mono">
    &lt;/MySkills&gt;
  </h1>
</section>