{% load static %}
<section id="projects">
    <h2 class="animate__animated animate__fadeInDown">My Projects</h2>
    <div class="project animate__animated animate__fadeInUp">
        <img src="{% static 'img/portfolio/java-ide-web.png' %}" alt="Project 1 Image" class="project-image">
        <div class="project-details">
            <h3>Project 1</h3>
            <p>A web application for managing tasks efficiently. Built with Django and Python.</p>
            <ul>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <a href="lien.com"><i class="bx bx-right-arrow-alt"></i> Voir le projet</a>
        </div>
    </div>
    <div class="project animate__animated animate__fadeInUp">
        <img src="{% static 'img/portfolio/produit.png' %}" alt="Project 2 Image" class="project-image">
        <div class="project-details">
            <h3>Project 2</h3>
            <p>An e-commerce website with dynamic product listings and a user-friendly interface. Developed using HTML, CSS, and JavaScript.</p>
            <ul>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <a href="lien.com"><i class="bx bx-right-arrow-alt"></i> Voir le projet</a>
        </div>
    </div>
</section>