{% load static %}
<section id="skills">
    <h2 class="animate__animated animate__fadeInDown">My Skills</h2>
    <div class="skills-container">
        <div class="skills-group">
            <div class="progress animate__animated animate__fadeInLeft">
                <span class="skill"><i class="bx bxl-html5"></i> HTML <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="90"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInLeft">
                <span class="skill"><i class="bx bxl-css3"></i> CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="90"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInLeft">
                <span class="skill"><i class="bx bxl-javascript"></i> JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="75"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInLeft">
                <span class="skill"><i class="bx bxl-python"></i> Python <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="90"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInLeft">
                <span class="skill"><i class="bx bxl-bootstrap"></i> Bootstrap <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="75"></div>
                </div>
            </div>
        </div>
        <div class="skills-group">
            <div class="progress animate__animated animate__fadeInRight">
                <span class="skill"><i class="bx bxl-django"></i> Django <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="80"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInRight">
                <span class="skill"><i class="bx bxl-react"></i> ReactJS <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="75"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInRight">
                <span class="skill"><i class="bx bxl-flask"></i> Flask <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="75"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInRight">
                <span class="skill"><i class="bx bxl-tux"></i> Linux <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="70"></div>
                </div>
            </div>
            <div class="progress animate__animated animate__fadeInRight">
                <span class="skill"><i class="bx bxl-git"></i> Git, <i class="bx bxl-github"></i> Github <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                    <div class="progress-bar" data-value="80"></div>
                </div>
            </div>
        </div>
    </div>
</section>